@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(29, 29, 29), rgb(87, 86, 86), rgb(29, 29, 29));
    font-family: 'ABeeZee', sans-serif;
    color: rgb(205, 218, 228);
}
header{
    background-color: rgb(29, 29, 29);
    display: flex;
    color: rgb(162, 197, 202);
    height: 100px;
    justify-content: space-around;
    align-items: center;
}
footer{
    background-color: rgb(24, 24, 24);
    height: 200px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.txtlogo{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    position: relative;
    right: 30%;
}
.div1{
    margin-top: 80px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    background: radial-gradient(#5293f5, #021633);
    height: 400px;
}
.titulo{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}
.nomecientifico{
    text-align: center;
    grid-column: 1;
    grid-row: 2;
    position: relative;
    bottom: 10px;
}
.content1{
    font-size: 90%;
    margin: 2px;
    text-align: center;
    grid-column: 1;
    grid-row: 3;
    position: relative;
    bottom: 50px;
}
.baleia1{
    position: relative;
    left: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 98%;
    height: 400px;
    object-fit: cover;
    object-position: -90px;
}
.krill{
    margin: 0 10px;
    float: left;
    max-width: 200px;
    border-radius: 5px;
}
.div2, .div3{
    border-top: rgb(218, 239, 248) 2px solid;
    padding: 50px 2%;
    margin: 0 3%;
    margin-top: 100px;
}
.subtitulo{
    margin: auto;
    text-align: center;
    font-size: 55px;
    width: 600px;
}
ul{
    margin-top: 50px;
}
.curiosidade{
    margin-top: 60px;
}
.divbaleia{
    position: relative;
    bottom: 50px;
    margin-left: 15px;
    border-radius: 5px;
    float: right;
    width: 200px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}
.baleia2{
    width: 500px;
    position: relative;
    bottom: 100px;
    right: 100px;
}
.content2{
    text-align: justify;
}
.content3{
    text-align: center;
}
a{
    color: #5293f5;
}
.creditos{
    text-align: center;
    position: relative;
    top: 10px;
}
.referencias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    text-decoration: none;
}