@media (min-width: 1500px){
    .content1{
        position: relative;
        top: 40px;
    }
    .content3{
        min-height: 750px;
    }
    .content3 .img2, .img3{
        position: absolute;
        right: 5%;
        object-fit: cover;
        max-width: 350px;        
        max-height: 350px;
    }
    .content3 ul{
        position: relative;
        left: 5%;
    }
    section div img{
        object-position: 0 -10px;
    }
    .content4{
        align-items: center;
    }
    .content4 h1{
        text-align: center;
        width: 70%
    }
    .content5 section, .content5 .mapa{
        width: 35%;        
    }
}
@media (min-width: 1250px){

    .content1{
        position: relative;
        top: 50px;
    }
    .content3 .img2, .img3{
        margin-top: 30px;
        position: absolute;
        right: 2%;
        object-fit: cover;
        max-width: 350px;        
        max-height: 350px;
    }
    .content5 section, .content5 .mapa, iframe{
        height: 550px;
    }
    footer{
        padding-top: 20px;
    }
}
@media (max-width: 1250px){
    .content1{
        position: relative;
        top: 60px;
    }
    .titulo1{
        font-size: 2rem;
    }
    .subtitulo1{
        font-size: 1.2rem;
        position: relative;
        top: 20px;
    }
    .img2{
        top: 15%;
        right: -2%;
    }
    .img3{
        top: 60%;
        right: -2%;
    }
    .subcontent{
        font-size: 0.85rem;
    }
    .content5 section, .content5 .mapa, iframe{
        height: 500px;
    }
}
@media (max-width: 1070px){
    .menu ul li{
        margin: 15px;
        padding: 15px;
}

@media (max-width: 951px){
    .logotxt{
        font-size: 1.1rem;
        position: relative;
        right: 20px;
    }
    .menu ul li{
        margin: 10px;
        padding: 15px 10px;
    }
    .content2{
        grid-template-columns: 0.5fr 5fr 0.5fr;
    }
    .content3{
        display: flex;
        flex-direction: column;
    }
    .content3 ul p{
        width: 95%;
    }
    .content3 ul{
        margin-bottom: 250px;
        padding-left: 5%;
    }
    .img2{
        width: 40%;
        height: 25%;
        left: 7%;
        top: 78%;
    }
    .img3{
        width: 40%;
        height: 25%;
        right: 7%;
        top: 78%;
    }
    .content4{
        width: 75%;
        justify-content: center;
        align-items: center;
    }
    .content4 h1, .content4 h2{
        margin: auto;
        margin-bottom: 5px;
        margin-top: 50px;
        width: 100%;
    }
    .content4 ul li{
        margin: 5%;
        margin-top: 80px;
    }
    .content5{
        margin-top: 100px;
    }
    .content5 section, .content5 .mapa, iframe{
        height: 350px;
    }
}}
@media (max-width: 620px){
    header{
        position: relative;
    }
    .menuicon{
        display: block;
        width: 8%;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);

    }
    .menu{
        background-color: rgb(238, 238, 238);
        display: block;
        position: absolute;
        right: -50%;
        top: 100%;
        z-index: 10;
        width: 50%;
        height: 365px;
        border-radius: 0 0 0 15px;
        transition: all .5s;
    }
    .menu ul{
        z-index: 11;
        display: block;
    }
    .menu ul li{
        margin: 10px 10px 40px 10px;
    }
    input:checked ~ .menu{
        transform: translateX(-100%);
    }
    .img2{
        width: 40%;
        height: 18%;
        left: 7%;
        top: 79%;
    }
    .img3{
        width: 40%;
        height: 18%;
        right: 7%;
        top: 79%;
    }
    .content4{
        margin-top: 0px;
    }
    .content5 section, .content5 .mapa, iframe{
        height: 280px;
    }
    footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    footer section{
        text-align: center;
        width: 100%;
    }
    .endereço{
        grid-column: 1;
    }
    .telefone{
        position: relative;
        bottom: 40px;
        grid-column: 1;
    }
    .informacoes{
        grid-column: 2;
        grid-row: 1;
    }
}
@media(max-width: 540px){
    .content1{
        font-size: 1.3rem;
    }
    .titulo1{
        font-size: 1.5rem;
    }
    .subtitulo1{
        font-size: 1rem;
    }
    .content3{
        margin-bottom: 50px;
    }
    .img2, .img3{
        top: 82%;
    }
    footer{
        grid-template-columns: 0.9fr 1.1fr;
    }
    footer section{
        text-align: left;
    }
}
@media(max-width: 500px){
    .img2, .img3{
        top: 84%;
        height: 15%;
    }
    .contato ul li{
        padding: 15px;
    }
    .content5{
        flex-direction: column;
        padding: 0;
    }
    .content5 section{
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
        width: 80%;
        height: 400px;
    }
    .content5 .mapa{
        margin: 0;
        padding: 0;
        width: 80%;
        height: 400px;
    }
    iframe{
        width: 100%;
        height: 400px;
    }
    
}
@media(max-width: 430px){
    .content1{
        font-size: 1.1rem;
    }
    .subtitulo1{
        font-size: 0.9rem;
    }
    .titulo2{
        font-size: 1.7rem;
    }
    .img2{
        left: 10%;
        width: 80%;
        top: 83%;
    }
    .img3{
        left: 10%;
        width: 80%;
        top: 98%;
    }
    .content3{
        margin-bottom: 230px;
    }
    .content4{
        font-size: 0.9rem;
    }
    .contato ul li{
        margin: 2%;
        margin-top: 20px;
    }
    footer{
        display: block;
        margin-bottom: 0;
    }
    footer section{
        text-align: center;
    }
    .telefone{
        bottom: 0;
    }
}
@media (max-width: 400px){
    .contato ul{
        margin-top: 50px;
        display: block;
    }
    .contato ul li{
        padding-inline: 50px;
    }
    .content5 section, .content5 .mapa, iframe{
        height: 280px;
    }
}
@media(max-width:360px){
    .content1{
        font-size: 0.8rem;
    }
    .titulo1{
        font-size: 1.1rem;
    }
    .subtitulo1{
        font-size: 0.78rem;
    }
    .img2{
        top: 85%;
    }
    .img3{
        top: 100%;
    }
    .content3{
        margin-bottom: 280px;
    }
}